{{define "title"}}Sign Up{{end}}

{{define "main"}}
<div class="signup-container">
    <h2>Sign Up</h2>
    <form action='/user/signup/post' method='POST' class="signup-form">
        <div class="form-group">
            <label for="name">Username:</label>
            {{with .Form.FieldErrors.username}}
                <label class='error'>{{.}}</label>
            {{end}}
            <input type='text' id="name" name='name' value='{{.Form.Name}}'>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            {{with .Form.FieldErrors.password}}
                <label class='error'>{{.}}</label>
            {{end}}
            <input type='password' id="password" name='password' value='{{.Form.Password}}'>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            {{with .Form.FieldErrors.email}}
                <label class='error'>{{.}}</label>
            {{end}}
            <input type='email' id="email" name='email' value='{{.Form.Email}}'>
        </div>
        <div class="form-group">
            {{with .Form.FieldErrors.generic}}
                <label class='error'>{{.}}</label>
            {{end}}
        </div>
        <div class="form-group">
            <input type='submit' value='Sign Up' class="submit-button">
        </div>
    </form>
</div>
{{end}}